#{extends 'main.html' /}
#{set title:messages.get('header.view.controller.index','COPEEMS') /}
#{set nombre:'Carlos'/}

#{stylesheet 'secure.css'/}

Hello &{'header.view.controller.index','COPEEMS'}
<p>
${u.username}
<a href="@{index}">link</a>
#{a @index()}link#{/a}
#{script 'myscripts.js'/}
<p>

#{form @myFormw()}
	<label>Usuario</label>
	<input name="u.username"> 
	<input type="submit">
#{/form}

<ul>
	#{list items:usuarios, as:'usuario'}
	    <li>${usuario.username}</li>
	#{/list}
 
</ul>

<div id="estados">

</div>

#{testTag1 title:'Mi Titulo'}
Este es el cuerpo
#{/testTag1}
#{testTag1 /}

#{copeems.helloTestTag1 title:'COPEEMS'}
	TEXTO
#{/copeems.helloTestTag1}

<script type="text/javascript">
	var ruta = #{jsRoute @Estados.getEstados(':paisId') /};
    $(function(){
    	$.ajax({
    		url: ruta.url({paisId: 1}),
    	    type: ruta.method,
    	    success: function(data){
    	    	content = "";
    	    	alert(data.code);
    	    	for(i=0; i < data.estdos.length; i++){
        	    	content+="<p>"+data.estdos[i].id+ " - "+data.estdos[i].name+"</p>";
    	    	}
    	    	$("#estados").html(content);
    	    }
    	});
    })
</script>